<!DOCTYPE html>
<html>
  <head>
    <title>PinSensation</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='notification'>
      <% if notice %>
        <div class="toast">
          <label class="toast-label"><%= notice %></label>
        </div>
      <% end %>
      <% if alert %>
        <div class="toast">
          <label class="toast-label"><%= alert %></label>
        </div>
      <% end %>
    </div>
    <% if current_user %>
      <div class='session-panel'>
        <%= user_firstname.capitalize %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
